@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Eliminado el fondo de la imagen y la transparencia */
  /* background-image: url('bg-contacto.jpg'); */
  background-size: cover;
  background-position: center;
  /* Eliminada la capa de fondo oscuro */
  /* position: relative; */
}

/* Eliminada la capa de fondo oscuro */
/* body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.8);
} */

section {
  position: relative;
  z-index: 3;
  padding-top: 50px;
  padding-bottom: 50px;
}

.container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.section-header {
  margin-bottom: 50px;
  text-align: center;
}

.section-header h2 {
  color: #000; /* Cambiado a negro */
  font-weight: bold;
  font-size: 3em;
  margin-bottom: 20px;
}

.section-header p {
  color: #000; /* Cambiado a negro */
}

.row  {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.contact-info-content h4 {
  color: #960018;
  font-size: 1.4em;
  margin-bottom: 5px;
}

.contact-info-content p {
  color: #000; /* Cambiado a negro */
  font-size: 1em;
}

.contact-form h2 {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 10px;
  color: #333;
}

.contact-form .input-box input,
.contact-form .input-box textarea {
  border-bottom: 2px solid #000; /* Cambiado a negro */
}

.contact-form .input-box span {
  color: #666;
}

.contact-form .input-box input:focus ~ span,
.contact-form .input-box textarea:focus ~ span {
  color: #e91e63;
}

.contact-form .input-box input[type="submit"] {
  background: #960018;
  color: #FFF;
  border: none;
}

.contact-form .input-box input[type="submit"]:hover {
  background: #FFF;
  color: #960018;
}
